<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 
<title>Giriş</title>
  
</head>
<body>
	<div class="container">
		<form class="form-signin" method="post" th:action="@{/authenticate}">

			<h2 class="form-signin-heading">Login ol</h2>
			<p>
				<label for="username" class="sr-only">Username</label> <input
					type="text" id="username" name="username" class="form-control"
					placeholder="Username" required autofocus>
			</p>
			<p>
				<label for="password" class="sr-only">Password</label> <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Password" required>
			</p>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Giriş
				et</button>
			<hr>
			<h2>Hesabın yoxdur?</h2>

			<a th:href="@{/users/open-signup}">Hesab yarat</a>
		</form>
	</div>
</body>
</html>